<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a id="titulo1" class="navbar-brand ms-3 "></a>
        <a id="titulo2" class="navbar-brand" style="width: 50rem"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            </ul>
        </div>
    </div>
</nav>

<script>

    if (localStorage.getItem("token")) {
        document.querySelector("ul.navbar-nav").innerHTML = `
            <li class="nav-item">
                <a class="nav-link" href="/perfil">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/carga">Carga</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/user/chart">Chart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin">Usuarios</a>
            </li>
            <li class="nav-item">
                <button class="btn btn-success ms-2" onclick="logout()">Cerrar Sesión</button>
            </li>
        `;
    } else {
        document.querySelector("ul.navbar-nav").innerHTML = `

            <li class="nav-item">
                <a class="nav-link" href="/login">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registro">Registrarme</a>
            </li>
        `;
    }

 
    // active class for navbar
    const activeLink = document.querySelector(`[href='${window.location.pathname}']`);
    // if active link is not null, add class active
    activeLink ? activeLink.classList.add("active") : null;

    function logout() {
        localStorage.removeItem("token");
        localStorage.removeItem("user");
        location.replace('/');
    }

   //Si la pagina actual es chart, entonces agregar titulo y nombre de la empresa en el navbar

    const Titulos = async () => {
        let URLactual2 = (window.location.pathname);
        let revisor = '/user/chart'
        //const { data } = await axios.get("/getEmpresas");
        const  data  = await axios.get("/getEmpresas");
        let concat1 = `${URLactual2}+${data.statusText}`
        let concat2 = `${revisor}+OK`
        console.log(concat1,concat2)
        concat1 === concat2 ? document.getElementById("titulo1").innerHTML=`${data.data[0]}` : document.getElementById("titulo1").innerHTML=""; 
        URLactual2 == revisor ? document.getElementById("titulo2").innerHTML="Estados Financieros" : document.getElementById("titulo1").innerHTML=""; 
            
    
  
        
        


    }

Titulos()

   


</script>