<!DOCTYPE html>
<html>

<head>
      

   <meta charset="utf-8">
   <title>Finanzas View</title>
   <metahttp-equiv="Content-Security-Policy"content="default-src 'self'; font-src 'self' data: fonts.gstatic.com;">
  <link rel="shortcut icon" href="/favicon.ico" type="imege/x-icon">
   <link rel="stylesheet" href="/css/virtual-select.min.css" />
   <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css">
   <link rel="stylesheet" href="/css/estilos.css">
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
    
    
</head>

<body>
   

   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
   <script src="/js/virtual-select.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 {{!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> --}}




   <script src="/axios/axios.min.js"></script>
   <script src="/js/axios.interceptors.js"></script>
   <script src="/sweetalert2/sweetalert2.min.js"></script>
   <script src="/js/sweetalert2.js"></script>
   <script src="/bootstrap/js/bootstrap.min.js"></script>


   {{>VerifyAuth}}

   {{>Navbar}}

   {{{body}}}

</body>

</html>