<div class="container py-4">

  <section id="SeccionCarga">
    <div class="container p-5 w-50 border">
      <form action="/carga" method="POST" enctype="multipart/form-data">
        <div class="row my-3">
          <div class="col">
            <input type="file" name="target_file" id="files" />
          </div>
        </div>
        <input id="alert1" class="btn btn-dark" type="submit" value="Cargar Archivo" />
      </form>
    </div>
  </section>

  <section id="seleccionEmpresaTrimestre">
    <div class="container-fluid py-4">
      <div class="row justify-content-md-center">
        <div class="col col-lg-3">
          <div id="example-select1"></div>
        </div>
        <div class="col col-lg-3">
          <div id="example-select2"></div>
        </div>
      </div>
    </div>
  </section>
  {{!-- Botón crea tabla --}}

  <div id="botoncarga"></div>



  </select>
  <script>


//Alerta del botón de carga con sweet alert
    $("#alert1").click(function () {
      Swal.fire({
        title: 'Cargando Información',
        text: 'Información con exitosamente',
        icon: 'success'
      })
    })
//Librería del multi select https://www.cssscript.com/select-box-virtual-scroll/
    const getEmpresas = async () => {
      const { data } = await axios.get("/getEmpresas");
      if (data.length > 0) {

        myOptions1 = [
          { label: data[0], value: data[0] },
          { label: data[1], value: '2' },
          { label: data[2], value: '3' },
          { label: data[3], value: '4' }
        ]
        VirtualSelect.init({
          ele: '#example-select1',
          options: myOptions1,
          placeholder: 'Escoge Empresa',
        });


      } else ('')

    };
    getEmpresas();

    const getTrimestre = async () => {
      const { data } = await axios.get("/getTrimestre");

      if (data.length > 0) {
         
        myOptions2 = [
          { label: data[0], value: '1' },
          { label: data[1], value: '2' },
          { label: data[2], value: '2' }

        ]
        VirtualSelect.init({
          ele: '#example-select2',
          options: myOptions2,
          placeholder: 'Escoge Trimestre',
          multiple: true
        });


      } else ('')

    };
    getTrimestre();

    const ActivarBoton = async () => {
      const { data } = await axios.get("/getEmpresas");
      if (data.length > 0) {
        document.getElementById("botoncarga").innerHTML=`
        <form action='/cargaInfoSelect' method='POST' enctype='multipart/form-data'>
        <input class='btn btn-dark' type='submit' value='Activar Información' />`


      } else ('')

    };
    ActivarBoton();


  </script>