<div class="container py-4">


    <div class="container p-5 w-50 border">
      <form action="/carga" method="POST" enctype="multipart/form-data">
        <div class="row my-3">
          <div class="col">
            <input type="file" name="target_file" id="files" />
          </div>
        </div>
        <input class="btn btn-light" type="submit" value="Cargar Archivo" />
      </form>
    </div>



