{{!-- Tabla 2 --}}
<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
    data-bs-parent="#accordionExample3">
    <div class="accordion-body">
        <!--  -->
        <!--  TOTAL PASIVOS Y PATRIMONIO -->
        <div class="accordion" id="accordionExample3">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-8">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
                        TOTAL PASIVOS Y PATRIMONIO
                    </button>
                </h2>
                <div id="collapseeight" class="accordion-collapse collapse" aria-labelledby="heading-8"
                    data-bs-parent="#accordionExample3">
                    <div class="accordion-body">
                        <!--  -->
                        <div class="col text-center">
                            <table class="table">
                                <thead id="thead5" class="table-dark text-center">

                                </thead>
                                <tbody id="PasivosPatrimonio" class="PasivosPatrimonio text-start"></tbody>
                            </table>
                        </div>
                        <!--  -->
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <!-- PASIVOS CORRIENTES -->
        <div class="accordion" id="accordionExample3">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-9">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse_9" aria-expanded="false" aria-controls="collapse_9">
                        PASIVOS CORRIENTE
                    </button>
                </h2>
                <div id="collapse_9" class="accordion-collapse collapse" aria-labelledby="heading-9"
                    data-bs-parent="#accordionExample3">
                    <div class="accordion-body">
                        <!--  -->
                        <div class="col text-center">
                            <table class="table">
                                <thead id="thead6" class="table-dark text-center">
                                </thead>
                                <tbody id="PasivoCP" class="PasivoCP text-start"></tbody>
                            </table>
                        </div>
                        <!--  -->
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <!-- PASIVOS NO CORRIENTE -->
        <div class="accordion" id="accordionExample3">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-10">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse_10" aria-expanded="false" aria-controls="collapse_10">
                        PASIVOS NO CORRIENTE
                    </button>
                </h2>
                <div id="collapse_10" class="accordion-collapse collapse" aria-labelledby="heading-10"
                    data-bs-parent="#accordionExample3">
                    <div class="accordion-body">
                        <!--  -->
                        <div class="col text-center">
                            <table class="table">
                                <thead id="thead7"class="table-dark text-center">
         
                                </thead>
                                <tbody id="PasivoLP" class="PasivoLP text-start"></tbody>
                            </table>
                        </div>
                        <!--  -->
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <!--  -->
    </div>
</div>
