{{!-- Tabla 3 --}}
<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
    data-bs-parent="#accordionExample">
    <div class="accordion-body">
        <!--  -->
        <div class="col text-center">
            <table class="table">
                <thead class="table-dark text-center">
                    <th>Cuenta</th>
                    <th>202106</th>
                    <th>202109</th>
                    <th>202112</th>
                    <th>%202106</th>
                    <th>%202109</th>
                    <th>%202112</th>
                </thead>
                <tbody class="EERR text-start"></tbody>
            </table>
        </div>
        <!--  -->
    </div>
</div>